@use "../../scss/mixin.scss" as *;

.Header {
    display: flex;
    align-items: center;
    margin-top: 84px;

    span {
        margin-left: 34px;
        text-align: end;
        font-weight: $font-weight-bold;
        @include text(24px, $text-purple);
    }
}

@media screen and (max-width: 768px) {
    .Header {
        justify-content: center;
        margin-top: 24px;
        span {
            display: none;
        }
        img{
            width: 57px;
            height: 46px;
        }
    }
}

@media screen and (max-width: 430px) {
    .Header {
        img{
            width: 68px;
            height: 54px;
        }
    }
}